<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h2 class="mt-3 pb-3">投稿、コメント一覧画面</h2>
      <%= form_with model: @post,url:users_posts_path, local:true do |f| %>
      <table class="table table-borderless mt-5 ">
        <tbody>
          <td><%= f.hidden_field :post, :value => "おはよう" %></td>
          <td><%= f.submit "おはよう", class: "btn btn-primary"  %></td>
        </tbody>
      </table>
    <% end %>
    </div>
  </div>
</div>