{"filter":false,"title":".gitignore","tooltip":"/notice/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":25,"column":11},"end":{"row":25,"column":11},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1634026108443,"hash":"d49f7e47c7ce57d2b3882d1d95cd76ea14d85589"}