<p>Hello <%= @resource.email %>!</p><br>

<h1>平素はWarmをご利用頂き、誠にありがとうございます。</h1><br>

<p>パスワードの変更は、以下のリンクから行うことができます。</p><br>

<p><%= link_to 'パスワードを変更する。', edit_password_url(@resource, reset_password_token: @token) %></p><br>

<p>※上記のリンクにアクセスして新しいパスワードを作成するまでは、パスワードは変更されません</p>
