<% comments.each do |comment| %>
  <% unless comment.id.nil? %>
    <div class="comment-container">
        <div class="comment-box">
            <div class="comment-avatar">
            <%= attachment_image_tag comment.member, :profile_image, fallback: "no-image.jpg", class:"comment-image", size: "40x40" %>
            </div>
            <div class="comment-text">
                <div class="comment-entry">
                    <%= comment.comment %>
                    <% if comment.member == current_member %>
                        <%= link_to post_comment_path(comment.post_id, comment.id), method: :delete, remote: true, class: "comment_destroy" do %>
                            <i class="fas fa-trash" style="color: black;"></i>
                        <% end %>
                    <% end %>
                </div>
                <span class="comment-date pull-right">
                      <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                </span>
            </div>
        </div>
    </li>
  <% end %>
<% end %>