<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 offset-1 text-center">
      <h3 class="mt-4">
      家族コードの作成ありがとうございます。<br>
      家族コードは投稿者登録、家族会員登録において必要になりますので、<br>
      必ずメモして残して下さい。<br>
      </h3>
      <h2 class="mt-5">作成された家族コード⇓</h2>
      <h1 class="mt-5 text-danger"><%= @familycode %></h1>
    </div>
  </div>
  <div class="row mt-5">
    <!--<div class="col-md-3"></div>-->
    <div class="col-md-12 text-center">
      <%= link_to "投稿会員登録", new_user_registration_path, class: "btn btn-success text-right fr-margin" %>
    <!--</div>-->
    <!-- <div class="col-md-3">-->
      <%= link_to "家族会員登録", new_member_registration_path, class: "btn btn-success text-left margin-3 fr-margin" %>
    </div>
    <!--<div class="col-md-3"></div>-->
  </div>
</div>
