<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 offset-1 text-center">
      <h3 class="mt-4">
      家族コードの作成ありがとうございます。<br>
      家族コードは投稿者登録、家族会員登録において必要になりますので、<br>
      必ずメモして残して下さい。<br>
      </h3>
      <h2 class="mt-5">作成された家族コード⇓</h2>
      <h1 class="mt-5 text-danger"><%= @familycode.family_code %></h1>
    </div>
  </div>
</div>
