<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<script type="text/javascript">
        $(document).ready(function(){
            $('.slider').bxSlider({
                auto: true,
                pause: 5000,
            });
        });
</script>
</head>
<main>
<div class="shutter">
  <div class="opening"></div>
</div>
<!--<div class="slider">-->
<!--  <img width="500" height="300" alt="">-->
<!--  <img width="500" height="300" alt="">-->
<!--</div>-->
<div class="container-fluid">
    <!--<div class ="row">-->
    <!--  <div class="nav-item">%= link_to '家族コード作成', new_familycode_path, class: "btn btn-danger" %></div>-->
    <!--  <div class="nav-item">%= link_to '家族会員登録', new_member_registration_path, class: "btn btn-danger" %></div>-->
    <!--  <div class="nav-item">%= link_to '家族会員ログイン', member_session_path, class: "btn btn-danger" %></div>-->
    <!--  <div class="nav-item">%= link_to '投稿会員登録', new_user_registration_path, class: "btn btn-danger" %></div>-->
    <!--  <div class="nav-item">%= link_to '投稿会員ログイン', user_session_path, class: "btn btn-danger" %></div>-->
    <!--  <div class="nav-item">%= link_to 'お問い合わせ', new_inquiry_path, class:"btn btn-dangar" %></div>-->
    <!--</div>-->
  <div class="row mt-5">
    <div class="col-xs-10 col-sm-10 col-md-10 offset-1 text-left margin-left-none">
      <div class="hidden_box">
        <h1>1.家族コード作成方法</h1>
        <label for="label1">クリックして表示する→</label>
        <input type="checkbox" id="label1">
        <div class="hidden_show col-xs-10 col-sm-10 col-md-10">
          <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTDxljTGEPtUa8srFk81g03TEYgZapwuYBEV8hL9su_1ygvFhvDHgVJAvgEKL7oXQQfqYqOPgldYjD4/embed?start=true&loop=true&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-1 col-sm-10 col-xs-10 text-left margin-left-none">
      <div class="hidden_box g-slide">
        <h1>2.投稿会員利用方法</h1>
        <label for="label2">クリックして表示する→</label>
        <input type="checkbox" id="label2">
        <div class="hidden_show col-md-10 col-sm-10 col-xs-10">
          <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQTaUSBZ_4ogf2jtx62ZfgVDFprqst0POmqV1O5XCMF_nFLQ3Kbp2Ug1MPt3FuwVQTy1Sh7wizJw3BX/embed?start=true&loop=true&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-1 col-sm-10 col-xs-10 text-left margin-left-none">
      <div class="hidden_box">
        <h1>3.家族会員利用方法</h1>
        <label for "label3">クリックして表示する→</label>
        <input type="checkbox" id="label3">
        <div class="hidden_show col-md-10 col-sm-10 col-xs-10">
          <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSbqAYv8o_c-BrZMYDka7inTfUyRpoFm4YVsEPOjJiMjGHl7hWxdll-uPqOUSUvL9g1gdX8ynVm_b-w/embed?start=true&loop=true&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
