<!--<div class="container-fuluid">-->
<!--  <div class="row">-->
<!--    <div class="col-md-8"></div>-->
<!--    <div class="col-md-4">-->
<!--      %= search_form_for @q, url: search_admin_familycodes_path do |f| %>-->
<!--        %= f.label :familycode_cont, '家族コード' %>-->
<!--        %= f.search_field :familycode_cont %>-->
<!--        %= f.submit '検索' %>-->
<!--      % end %>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-md-10 offset-1">-->
<!--      <h1>家族コード一覧</h1>-->
<!--      <table class="table">-->
<!--        <thread>-->
<!--          <tr>-->
<!--            <th>%= sorttable "id", "ID" %></th>-->
<!--            <th>%= sorttable "family_code", "家族コード" %></th>-->
<!--            <th>%= sorttable "created_at", "家族コード作成日時" %></th>-->
<!--            <th>%= sorttable "users.count", "投稿会員数" %></th>-->
<!--            <th>%= sorttable "members.count", "家族会員数" %></th>-->
<!--          </tr>-->
<!--        </thread>-->
<!--        % @results.each do |familycode| %>-->
<!--        <tbody>-->
<!--        <tr>-->
<!--          <th>-->
<!--            %= familycode.id %>-->
<!--          </th>-->
<!--          <td>-->
<!--        %= link_to admin_familycode_path(familycode) do %>-->
<!--            %= familycode.family_code %>-->
<!--          % end %>-->
<!--          </td>-->
<!--          <td>-->
<!--            %= familycode.created_at.strftime('%Y/%m/%d %H:%M:%S') %>-->
<!--          </td>-->
<!--          <td>-->
<!--            %= familycode.users.count %>-->
<!--          </td>-->
<!--          <td>-->
<!--            %= familycode.members.count %>-->
<!--          </td>-->
<!--        </tbody>-->
<!--        % end %>-->
<!--      </table>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->