<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>様、ふぁみりーかまちょへようこそ。</h1>
      <p>
      ふぁみりーかまちょへの祖父祖母サインアップが成功しました。
      your username is: <%= @user.login %>.<br>
    </p>
    <!--<p>-->
    <!--  このサイトにログインするには、<!--%= @url %>-->をクリックしてください。-->
    <!--</p>-->
    <p>ご入会ありがとうございます。引き続き家族会員様の登録をお願い致しますどうぞお楽しみくださいませ。</p>
  </body>
</html>